# Chapter 1: pandas Foundations

In [2]:
import pandas as pd
import numpy as np
import pyarrow as pa

## Series

In [23]:
pd.Series([0, 1, 2])

0    0
1    1
2    2
dtype: int64

In [29]:
pd.Series(range(3), dtype="int8")

0    0
1    1
2    2
dtype: int8

In [38]:
pd.Series(["apple", "banana", "orange"], name="fruit")

0     apple
1    banana
2    orange
Name: fruit, dtype: object

## DataFrame

In [30]:
pd.DataFrame([
    [0, 1, 2],
    [3, 4, 5],
    [6, 7, 8],
])

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [33]:
pd.DataFrame([
    [1, 2],
    [4, 8],
], columns=["col_a", "col_b"])

   col_a  col_b
0      1      2
1      4      8

In [34]:
pd.DataFrame({
    "first_name": ["Jane", "John"],
    "last_name": ["Doe", "Smith"],
})

  first_name last_name
0       Jane       Doe
1       John     Smith

In [35]:
ser1 = pd.Series(range(3), dtype="int8", name="int8_col")
ser2 = pd.Series(range(3), dtype="int16", name="int16_col")
pd.DataFrame({ser1.name: ser1, ser2.name: ser2})

   int8_col  int16_col
0         0          0
1         1          1
2         2          2

## Index

In [36]:
pd.Series([4, 4, 2], index=["dog", "cat", "human"])

dog      4
cat      4
human    2
dtype: int64

In [37]:
index = pd.Index(["dog", "cat", "human"], name="animal")
pd.Series([4, 4, 2], name="num_legs", index=index)

animal
dog      4
cat      4
human    2
Name: num_legs, dtype: int64

In [39]:
pd.DataFrame([
    [24, 180],
    [42, 166],
], columns=["age", "height_cm"], index=["Jack", "Jill"])

      age  height_cm
Jack   24        180
Jill   42        166

## Series Attributes

In [40]:
index = pd.Index(["dog", "cat", "human"], name="animal")
ser = pd.Series([4, 4, 2], name="num_legs", index=index)

In [42]:
ser.dtype

dtype('int64')

In [43]:
ser.name

'num_legs'

In [44]:
ser.index

Index(['dog', 'cat', 'human'], dtype='object', name='animal')

In [45]:
ser.index.name

'animal'

In [46]:
ser.shape

(3,)

In [58]:
ser.size

3

In [47]:
len(ser)

3

## DataFrame Attributes

In [49]:
index = pd.Index(["Jack", "Jill"], name="person")
df = pd.DataFrame([
    [24, 180, "red"],
    [42, 166, "blue"],
], columns=["age", "height_cm", "favorite_color"], index=index)

In [50]:
df.dtypes

age                int64
height_cm          int64
favorite_color    object
dtype: object

In [52]:
df.index

Index(['Jack', 'Jill'], dtype='object', name='person')

In [53]:
df.columns

Index(['age', 'height_cm', 'favorite_color'], dtype='object')

In [54]:
df.shape

(2, 3)

In [57]:
df.size

6

In [55]:
len(df)

2